In [1]:
import pandas as pd
import numpy as np

joblist_match_path = r'D:\TEDDDDY\Q4\岗位匹配度.csv'
resume_match_path = r'D:\TEDDDDY\Q4\求职者满意度.csv'
resume_type = {'招聘信息 ID': str, '求职者 ID': str}

job_match_resume = pd.read_csv(joblist_match_path, dtype=resume_type)
resume_match_job = pd.read_csv(resume_match_path, dtype=resume_type)

In [3]:
job_match_resume.columns = ['job_id', 'resume_id', 'ratio']
resume_match_job.columns = ['job_id', 'resume_id', 'ratio']

In [18]:
# 定义一个函数来删除每个组中 ratio 较小的25%的数据
def filter_low_ratios(group, rate=0.25):
    threshold = group['ratio'].quantile(rate)
    return group[group['ratio'] > threshold]


filter_job_match_resume = job_match_resume.groupby('job_id').apply(filter_low_ratios, 0.24)
filter_job_match_resume.reset_index(drop=True, inplace=True)

filter_resume_match_job = resume_match_job.groupby('resume_id').apply(filter_low_ratios, 0.75)
filter_resume_match_job.reset_index(drop=True, inplace=True)

filter_job_match_resume.to_csv('job_match_resume.csv', index=False)
filter_resume_match_job.to_csv('resume_match_job.csv', index=False)

In [17]:
filter_resume_match_job['resume_id'].value_counts()

# filter_resume_match_job['resume_id'].value_counts()

resume_id
 7531755679844593172    310
 7536520357648985620    310
 7536520237389901332    310
 7536520233094934036    310
 7536520228799966740    310
                       ...
1645385086935367680       1
1640319370922164224       1
1475688461037076480       1
1483350550874554368       1
1461663453243637760       1
Name: count, Length: 8190, dtype: int64

In [31]:
filter_job_match_resume = job_match_resume.groupby('job_id').apply(filter_low_ratios, 0.24)
filter_job_match_resume.reset_index(drop=True, inplace=True)
filter_job_match_resume.to_csv('job_match_resume.csv', index=False)
filter_job_match_resume['resume_id'].value_counts()

resume_id
 7537508230191836692    1547
 7535962256713641492    1547
 7536262784165277204    1547
 7536219928981597716    1547
 7536176983603605012    1547
                        ...
 7533901926542011924       1
 7533901922247044628       1
 7533901917952077332       1
 7533901913657110036       1
 7533773017393589780       1
Name: count, Length: 8188, dtype: int64

In [27]:
hah = pd.concat([filter_job_match_resume, filter_resume_match_job])
hah['resume_id'].value_counts()

resume_id
 7536005361005424148    2723
 7535791089381994004    2723
 7535748290032889364    2723
 7535704807783984660    2723
 7535533696286912020    2723
                        ...
1648221000086716416        5
1647944223779061760        5
1484409030448381952        4
1461526224282189824        1
1470284037246550016        1
Name: count, Length: 8190, dtype: int64

In [30]:
len(filter_job_match_resume)
len(filter_resume_match_job)

4475907

In [20]:
id = '1374177417123467264'


bb = job_match_resume[job_match_resume['job_id'] == id]
cc = filter_job_match_resume[filter_job_match_resume['job_id'] == id]

In [35]:
filter_job_match_resume[filter_job_match_resume['job_id'] == '1374177686322286592']

                   job_id             resume_id     ratio
1122  1374177686322286592   7538237262235627028  0.402634
1123  1374177686322286592   7534845921698967060  0.375726
1124  1374177686322286592   7536735453906136596  0.375726
1125  1374177686322286592   7531970196281159188  0.407610
1126  1374177686322286592   7532313553146670612  0.407610
...                   ...                   ...       ...
2937  1374177686322286592   7539825601271229972  0.384267
2938  1374177686322286592   7539868568124059156  0.321030
2939  1374177686322286592   7539868623958634004  0.385421
2940  1374177686322286592   7539911526386953748  0.339526
2941  1374177686322286592   7539911534976888340  0.303096

[1820 rows x 3 columns]